@import "tailwindcss" source(none);
@source "./assets/index.html";

@theme {
  --color-primary: #92E3E8;
  --color-primary-dark: #71C9CE;
  --color-accent: #E9D5FF;
  --color-main: #0F172A;
  --color-surface: #1E293B;
  --color-frost: #F8FAFC;
  --color-silver: #94A3B8;
}
